<div class="pagination pagination-large pagination-centered">
    <ul>
    {% if article.has_previous %}
        <li><a href="?page={{ article.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled">&laquo;</li>
    {% endif %}

    {% for page in range %}
        <li class="{% if article.number == page %}active{% endif %}">
            <a href="?page={{ page }}">{{ page }}</a>
        </li>
    {% empty %}
        <li class="disabled">
            1
        </li>
    {% endfor %}

    {% if article.has_next %}
        <li><a href="?page={{ article.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled">&raquo;</li>
    {% endif %}
    </ul>
</div>
