{% extends 'portlet/base.html' %}
{% load fm_image_tags %}

{% block content %}
<section class="articles">
    <h1>Artikel</h1>

    <ul>
        {% for i in portlet.article %}
        <li {% if forloop.last %}class="last"{% endif %}>
            <article>
                <p class="date">&raquo; {{ i.release_date|date:"d F Y" }}</p>
                <h1><a href="/article/{{ i.slug }}/">{{ i.title }}</a></h1>
                {% if i.image %}
                <p class="image">
                    <a href="/article/{{ i.slug }}/">
                        <img src="{% image_scale i.image 221 137 0 1 0 %}" alt="" width="100%" />
                    </a>
                </p>
                {% endif %}
                <p>
                    {{ i.teaser|truncatewords_html:25|safe }}
                    <a href="/article/{{ i.slug }}/">weiter &raquo;</a>
                </p>
            </article>
        </li>
        {% empty %}
        <li>
            <p>Keine Artikel vorhanden.</p>
        </li>
        {% endfor %}
    </ul>

    <p>
        <a href="/article/">weitere Artikel</a>
    </p>
</section>
{% endblock %}
