{% extends 'site.html' %}
{% load fm_image_tags %}

{% block title %}News{% endblock %}

{% block content %}
<div id="content-header">
    <h2>News</h2>
</div>

<div id="news">
    {% for i in article %}
    <div class="entry {% cycle 'odd' 'even' %}{% if forloop.last %} last{% endif %}">
        <h3><a href="/caloneo-news/{{ i.slug }}/">{{ i.title }}</a></h3>
        <p class="date">{{ i.release_date|date:"d. F, Y" }}</p>
        <div class="entry-container">
            <p class="image">
                <a href="/caloneo-news/{{ i.slug }}/">
                    <img src="{% image_scale i.image 221 137 0 1 0 %}" alt="" width="221" height="137" />
                </a>
            </p>
            {{ i.text|truncatewords_html:70|safe }}
        </div>
        <p>
            <a href="/caloneo-news/{{ i.slug }}/">Weiterlesen</a>
        </p>
    </div>
    {% empty %}
    <div class="entry">
        <p>Es sind noch keine News im Archiv zu finden.</p>
    </div>
    {% endfor %}
</div>

<div>
    <ul class="pagination">
        {% if article.has_previous %}
        <li>
            <a href="?page={{ article.previous_page_number }}" class="prev gradient-dark">&laquo;</a>
        </li>
        {% endif %}

        {% for page in article.paginator.page_range %}
        <li>
            <a href="?page={{ page }}" class="gradient-dark {% if article.number == page %}active{% endif %}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if article.has_next %}
        <li>
            <a href="?page={{ article.next_page_number }}" class="next gradient-dark">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
